{% extends '../layout/base.html' %} {% load static %} {% block content %}
<!-- CSS de DataTables -->
<link rel="stylesheet" href="{% static 'css/datatables.css' %}" />
<link rel="stylesheet" href="{% static 'css/administracion/funcionarios.css' %}" />
<div class="row py-3">
  <div class="col-12 d-flex justify-content-between align-items-center">
    <div class="dashboard-title-text">
      <input type="hidden" id="mensajeCreate" class="mensajeCreate" value="{{mensaje}}" />
    </div>
    <div class="container d-flex justify-content-center align-items-center" style="height: 60vh;">
      <form action="" id="miFormulario" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="templates" class="form-label">Templates:</label>
          <select class="form-select" name="templates" id="templates">
            <option value=""></option>
            {% for template in templates %}
            <option value="{{ template.name }}">{{ template.name }}</option>
            {% endfor %}
          </select>
        </div>
        <a id="enviarBtntemplate" class="btn btn-primary">Enviar</a>
      </form>
    </div>
  </div>
  <style>
    .nav-link:not(.active) {
      color: black !important;
    }
  </style>

  <br />
  <br />

  <script>
    var templates = JSON.parse('{{ templates_body|escapejs }}')
  </script>

  <script src="{% static 'js/datatables.js' %}"></script>
  <script src="{% static 'js/sweet.js' %}"></script>
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script src="{% static 'js/mensajes/templates.js' %}?v=1"></script>



  {% endblock %}