{% load static %} {% block data %}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'css/wh.css' %}?v=3" />
<link
  rel="shortcut icon"
  type="image/jpg"
  href="{% static 'images/whatsapp.png' %}"
/>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
{% endblock %} {% block content %}
<div class="sidebar">
  <style>
    /* .sidebar-chat:not(:last-child) {
    background-color: #EBEBEB;
} */
  </style>
  <div class="header">
    <div class="avatar">
      <img src="{% static 'images/avatar.jpg' %}" alt="" />
    </div>
    <div class="chat-header-right">
      <img src="{% static 'images/circle-notch-solid.svg' %}" alt="" />
      <img src="{% static  'images/chat.svg' %}" alt="" />
      <img src="{% static 'images/more.svg' %}" alt="" />
    </div>
  </div>
  <div class="sidebar-search">
    <div class="sidebar-search-container">
      <img src="{% static 'images/search-solid.svg' %}" alt="" />
      <input type="text" placeholder="Search or start new chat" />
    </div>
  </div>
  <form id="formEnvio" class="w-100">{% csrf_token %}</form>
  <div class="sidebar-chats">
    <!-- <div class="sidebar-chat"> -->
    <!-- <div class="chat-avatar">
                <img src="{% static 'images/avatar.jpg' %}" alt="">
            </div>
            <div class="chat-info">
                <h4>Mike Daisan</h4>
                <p>Hey meet me tomorrow</p>
            </div>
            <div class="time">
                <p>2:44 pm</p>
            </div> -->
    <div id="chat-container"></div>
    <!-- </div> -->
  </div>
</div>
<div class="message-container">
  <div class="header">
    <div class="chat-title">
      <div class="avatar">
        <!-- <img src="{% static 'images/avatar.jpg' %}" alt="" /> -->
      </div>
      <div class="message-header-content">
        <!-- <h4>Amelia Cuiree</h4> -->
        <!-- <p>online</p> -->
      </div>
    </div>
    <div class="chat-header-right">
      <!-- <img src="{% static 'images/search-solid.svg' %}" alt="" />
      <img src="{% static 'images/more.svg' %}" alt="" /> -->
    </div>
  </div>
  <div class="message-content">
    <!-- <p class="chat-message">
      Hey John! What are you doing now?<span class="chat-timestamp"
        >11:33 pm</span
      >
    </p>
    <p class="chat-message chat-sent">
      Waiting for the bus <span class="chat-timestamp">11:34 pm</span>
    </p> -->
    <!-- <p class="chat-message">Shall I come and pickup you?<span class='chat-timestamp'>11:35 pm</span></p>
        <p class="chat-message">I Have a new bike <span class='chat-timestamp'>11:38 pm</span></p>
        <p class="chat-message chat-sent">Wow very nice. Who gave it to you? <span class='chat-timestamp'>11:40
                pm</span></p>
        <p class="chat-message">It is a gift from my uncle <span class='chat-timestamp'>11:41 pm</span></p>
        <p class="chat-message">Black color <span class='chat-timestamp'>11:41 pm</span></p>
        <p class="chat-message">Japan make. Brand new and very beautiful than your fathers' one <span
                class='chat-timestamp'>11:33 pm</span></p>
        <p class="chat-message chat-sent">This is a message <span class='chat-timestamp'>11:33 pm</span></p>
       
         <p class="chat-message chat-sent">This is a message <span class='chat-timestamp'>11:33 pm</span></p> -->
    <!-- <p class="chat-message chat-sent">This is a message <span class='chat-timestamp'>11:33 pm</span></p>
         <p class="chat-message chat-sent">This is a message <span class='chat-timestamp'>11:33 pm</span></p>
         <p class="chat-message chat-sent">This is a message <span class='chat-timestamp'>11:33 pm</span></p>
         <p class="chat-message chat-sent">This is a message <span class='chat-timestamp'>11:33 pm</span></p>
         <p class="chat-message chat-sent">This is a message <span class='chat-timestamp'>11:33 pm</span></p>
         <p class="chat-message chat-sent">This is a message <span class='chat-timestamp'>11:33 pm</span></p>
         <p class="chat-message chat-sent">This is a message <span class='chat-timestamp'>11:33 pm</span></p>
         <p class="chat-message chat-sent">This is a message <span class='chat-timestamp'>11:33 pm</span></p>
         <p class="chat-message chat-sent">This is a message <span class='chat-timestamp'>11:33 pm</span></p>
         <p class="chat-message chat-sent">This is a message <span class='chat-timestamp'>11:33 pm</span></p>
         <p class="chat-message chat-sent">This is a message <span class='chat-timestamp'>11:33 pm</span></p>
         <p class="chat-message chat-sent">This is a message <span class='chat-timestamp'>11:33 pm</span></p>
         <p class="chat-message chat-sent">This is a message <span class='chat-timestamp'>11:33 pm</span></p>
         <p class="chat-message chat-sent">This is a message <span class='chat-timestamp'>11:33 pm</span></p>
         <p class="chat-message chat-sent">This is a message <span class='chat-timestamp'>11:33 pm</span></p> -->
  </div>
  <div class="message-footer">
    <!-- <img src="{% static 'images/smile.svg' %}" alt=" " /> -->
    <!-- <img src="{% static 'images/paper-clip.svg' %}" alt="" />
    <input type="text" placeholder="Type a message" />
    <img src="{% static 'images/microphone.svg' %}" alt="" /> -->
  </div>
</div>
<script src="{% static 'js/mensajes/view.js' %}?v=13"></script>

{% endblock %}
