/* .circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .Activo {
    background-color: green;
  }
  
  .Suspendido {
    background-color: yellow;
  }
  
  .Retirado {
    background-color: red;
  }
   */